<div id="tracking_wrapper" class="show">

	<%= render 'tracking/menu' %>
	
	<div id="tracking">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class="name" rowspan="2">Name</th>
						<th class="summary total" rowspan="2">Total</th>
						<th class="summary missed" rowspan="2">Missed</th>
						<th class="summary charge" rowspan="2">Owed</th>
						<th class="summary paid" rowspan="2">Paid</th>
						<th class="week dates" colspan="2">Week 1 (May 12 - May 18)</th>
						<th class="week dates" colspan="2">Week 2 (May 19 - May 25)</th>
					</tr>
					<tr>
						<th class="week completed">
							Worked Out
						</th>
						<th class="week owed">
							Owed
						</th>
						<th class="week completed">
							Worked Out
						</th>
						<th class="week owed">
							Owed
						</th>
					</tr>
				</thead>

				<% @pact_user_relations.each do |relation| %>
				<tr>
					<td class="name"><%= relation.user.username %></td>
					<td class="summary total">7</td>
					<td class="summary missed">0</td>
					<td class="summary charge">$0.00</td>
					<td class="summary paid">$0.00</td>
					<td class="week completed ">7</td>
					<td class="week owed">$0.00</td>
					<td class="week completed ">7</td>
					<td class="week owed">$0.00</td>
				</tr>
				<% end %>
				
				<tfoot>
					<tr class="total">
						<td class="name">14 people</td>
						<td class="summary total">2</td>
						<td class="summary missed">4</td>
						<td class="summary charge">$15.50</td>
						<td class="summary paid">$15.50</td>
						<td class="week completed ">7</td>
						<td class="week owed">$0.00</td>
						<td class="week completed ">7</td>
						<td class="week owed">$0.00</td>
					</tr>
				</tfoot>
				
			</table>
		</div>







	</div><!--/week-->
</div><!--/#week_wrapper-->