<div id="week_wrapper" class="show">

	<%= render 'week/menu' %>
	
	<div id="email">
		<div class="box">
				<span class="glyphicon glyphicon-user"></span>
				<textarea class="email_addresses">emails go here</textarea>
		</div>


		<div class="box">
				<span class="glyphicon glyphicon-envelope"></span>
				<textarea class="email_template">
Hey everyone! 

Great job finishing week 4 of Gympact 2.0! For the first time ever, EVERYONE REACHED THEIR GOALS! As a group, we worked out 53 times, with 3 people achieving bonus days (congrats to Carolyn, Cynthia, and Valerie) As of now, we still have $27.50 in the GymPact Bank for HotPot/Korean BBQ in September :) Check out the tracking sheet here. 

Weekly News
1.  Valerie spent the weekend in Vegas and returned injury free :)
2.  Zeus tried out skateboarding last night. If you haven't checked out the fb vid yet, do yourself a favor and look it up. YOYOLOO
3. Michelle won her bet with her co-worker (who can run the JP Morgan Challenge fastest). She CRUSHED his time and won a free Peter Luger's dinner!

Top Photos
				</textarea>
		</div>
			
			


		

	</div><!--/email-->
</div><!--/#week_wrapper-->