<div id="week_wrapper" class="show">

	<%= render 'week/menu' %>
	
	<div id="week">


		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class="status"></th>
						<th class="name">Name</th>
						<th class="day monday">Mon</th>
						<th class="day tuesday">Tue</th>
						<th class="day wednesday">Wed</th>
						<th class="day thursday">Thu</th>
						<th class="day friday">Fri</th>
						<th class="day saturday">Sat</th>
						<th class="day sunday">Sun</th>
						<th class="summary total">Completed</th>
						<th class="summary goal">Goal</th>
						<th class="summary left">Left</th>
						<th class="summary bonus">Bonus</th>
						<th class="summary charge">Owed</th>
						<th class="summary paid">Paid</th>
					</tr>
				</thead>
				<tr>
					<td class="status"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="name">Valentino Wong</td>
					<td class="day monday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day tuesday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day wednesday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day thursday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day friday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day saturday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day sunday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="summary total">7</td>
					<td class="summary goal">6</th>
					<td class="summary left">0</td>
					<td class="summary bonus">1</td>
					<td class="summary charge">$0.00</td>
					<td class="summary paid"></td>
				</tr>
				<tr>
					<td class="status"><span class="glyphicon glyphicon-ban-circle"></span></td>
					<td class="name">Cynthia Koo</td>
					<td class="day monday">
						<span class="glyphicon glyphicon-ok-sign"></span>
					</td>
					<td class="day tuesday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day wednesday"><span class="glyphicon glyphicon-remove-sign"></span></td>
					<td class="day thursday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day friday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day saturday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day sunday"></td>
					<td class="summary total">5</td>
					<td class="summary goal">6</th>
					<td class="summary left">4</td>
					<td class="summary bonus">0</td>
					<td class="summary charge ">
						$5.00
					</td>
					<td class="summary paid"><button class="btn btn-primary">Paid</button></td>
				</tr>
				<tr>
					<td class="status"></td>
					<td class="name">Ellen Liu</td>
					<td class="day monday">
						<span class="glyphicon glyphicon-ok-sign"></span>
					</td>
					<td class="day tuesday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day wednesday"></td>
					<td class="day thursday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day friday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day saturday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day sunday"></td>
					<td class="summary total">2</td>
					<td class="summary goal">4</th>
					<td class="summary left">4</td>
					<td class="summary bonus">0</td>
					<td class="summary charge ">
						$5.00
					</td>
					<td class="summary paid"><button class="btn btn-primary">Paid</button></td>
				</tr>

				<tr class="total">
					<td class="status"></td>
					<td class="name">Total</td>
					<td class="day monday">5</td>
					<td class="day tuesday">12</td>
					<td class="day wednesday">10</td>
					<td class="day thursday">3</td>
					<td class="day friday">7</td>
					<td class="day saturday">3</td>
					<td class="day sunday">4</td>
					<td class="summary total">2</td>
					<td class="summary goal">6</th>
					<td class="summary left">4</td>
					<td class="summary bonus">0</td>
					<td class="summary charged">$15.50</td>
					<td class="summary paid">$0.00</td>
				</tr>
				
			</table>
		</div>







	</div><!--/week-->
</div><!--/#week_wrapper-->