<div id="week_wrapper" class="show">

	<%= render 'week/menu' %>
	
	<div id="week">


		<div class="table-responsive">
			<table class="table">
				<thead>
					<td>Name</td>
					<td>Monday</td>
					<td>Tuesday</td>
					<td>Wednesday</td>
					<td>Thursday</td>
					<td>Friday</td>
					<td>Goal</td>
					<td>Days Left</td>
					<td>Total Workout Days</td>
					<td>Bonus</td>
				</thead>
				<tr>
					<td>Name</td>
					<td>Goal</td>
					<td>Monday</td>
					<td>Tuesday</td>
					<td>Wednesday</td>
					<td>Thursday</td>
					<td>Friday</td>
					<td>Days Left</td>
					<td>Total Workout Days</td>
					<td>Bonus</td>
				</tr>
				<tr>
					<td>Name</td>
					<td>Goal</td>
					<td>Monday</td>
					<td>Tuesday</td>
					<td>Wednesday</td>
					<td>Thursday</td>
					<td>Friday</td>
					<td>Days Left</td>
					<td>Total Workout Days</td>
					<td>Bonus</td>
				</tr>
			</table>
		</div>







	</div><!--/week-->
</div><!--/#week_wrapper-->