<div id="home_wrapper">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5 col-lg-offset-1 align-center col-md-6">
				<button type="button" class="btn btn-default btn-block">
					<%= image_tag("icons/users.png", :class=> 'center-block') %>
					<%= link_to "GymPact 2.0", root_path %>
				</button>
				<br>
		</div>

		<div class="col-lg-5 align-center col-md-6">
				<button type="button" class="btn btn-default btn-block">
					<%= image_tag("icons/users.png", :class=> 'center-block') %>
					<%= link_to "GymPact 2.1", root_path %>
				</button>
		</div>
	</div><!--/.row-->
</div><!--/.container-fluid-->



</div><!--/#home_wrapper-->