<div id="home_wrapper">

<div class="container-fluid">
	<div class="row">

		<% @pacts.each do |pact| %>
		<div class="col-lg-6 align-center col-md-6">
				<%= link_to pact.name, chat_path(pact), class: 'btn btn-active btn-default pull-right' %> 

			
		</div>
		<% end %>

		
	</div><!--/.row-->
</div><!--/.container-fluid-->

</div><!--/#home_wrapper-->