<div id="chat_wrapper" class="show">

	<%= render 'chat/menu' %>
	
	<div id="chat">
		<div class="chat-row container-fluid">
			<div class="col-md-1 text-center">
				<%= image_tag ("avatars/cynthiakoo.jpg"), class: 'avatar' %>
			</div>
			<div class="message col-md-11">
				<span class="name">Cynthia Koo</span>
				<span class="datetime">Tuesday, June 10, 2014 5:15PM</span>
				<span class="content">
					start show hi show <br>hi show hi show hi show hi show hi show hi show hi show hi show hi<br> show hi show hi show hi show hi show hi show hi show hi show hi show hi show hi show hi 
				</span>
			</div>
		</div><!--/.chat-row-->


		<div class="chat-row container-fluid">
			<div class="col-md-1 text-center">
				<%= image_tag ("avatars/cynthiakoo.jpg"), class: 'avatar' %>
			</div>
			<div class="message col-md-11">
				<span class="name">Cynthia Koo</span>
				<span class="datetime">Tuesday, June 10, 2014 5:15PM</span>
				<span class="content">
					<%= image_tag ("avatars/cynthiakoo.jpg"), class: 'photo' %>
				</span>
			</div>
		</div><!--/.chat-row-->


	</div><!--/#chat-->

</div><!--/#chat_wrapper-->