#header {
  background: #66C4D9;
  width: 100%;
  margin-left: -250px;
	height: 100px;
	padding-top: 28px;
	padding-right: 50px;
	position: fixed;
	z-index: 1000;
	overflow: hidden;

	a {
		color: #408B9D;
		font-size: 25px;
		margin: 0 20px;
		float: right;
		display: inline-block;
		&:hover {color: #fff;}
	}
}