/* Defining colors */
$turquoise: #5CB1C4;

/* Importing Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Lato:300,400|Open+Sans:400,300);

/* Changing the styling of the body text
See: http://getbootstrap.com/customize */
$text-color: lighten(#000, 40%);
$line-height-base: 1.8;


/* Changing the color of link text
See: http://getbootstrap.com/customize */
$brand-primary: $turquoise;

/* Changing the color of header text
See: http://getbootstrap.com/customize */
$headings-font-family: 'Source Sans Pro';
$headings-font-weight: 300;