#tracking_wrapper {
	#tracking {

		/* TABLE COLUMNS */
		.table {
			.name {text-align: left; padding-left: 30px;}
			.name, .total, .missed, .charge, .paid {
				border-right: 1px solid $grayborder;
			}

			thead th.week {
				padding-top: 5px !important;
				padding-bottom: 5px !important;
			}

			th.dates {
				border-bottom: 1px solid $grayborder;}
			.owed, .completed, .dates 
			{border-right: 1px solid $grayborder;}

		}/*.table*/


	}/*tracking*/
}/*#tracking_wrapper*/