#week_wrapper {

	/* WEEK ***************************/
	#week {
		
		/* TABLE ***************************/
		.table {
			thead th{
				font-family: $headings-font-family;
				font-weight: normal;
				font-size: 16px;
				color: #A2A5AE;
				background: $bglightgray;
			}
			th, td {
				border-bottom: 1px solid $grayborder;
				padding: 20px 10px;
				text-align: center;
				text-align: middle;
			}
			td {background: #fff;}

			/* COLUMNS */
			.status {padding-left: 30px;}
			.name {
				text-align: left;
			}
			.status, .day {
				.glyphicon {font-size: 16px;}
				.glyphicon-ok-sign {color: $green;}
				.glyphicon-question-sign {color: $gray-light;}
				.glyphicon-remove-sign,
				.glyphicon-ban-circle {color: $red;}
			}
			.monday, .total, .charge {
				border-left: 1px solid $grayborder;}


			th.left {
				background: #A2A5AE; color: #fff;
				border-left: 1px solid #A2A5AE;
				border-right: 1px solid #A2A5AE;
			}
			td.left {
				border-left: 1px solid $grayborder;
				border-right: 1px solid $grayborder;
			}
			.paid {
				padding-right: 30px;

				.btn {
					margin-top: -5px;
					margin-bottom: -5px;
				}
			}

		} /*.table*/
	}/*#week*/


	#email {
		padding: 25px;

		.box {
			width: 100%;
			padding: 25px;
			margin-bottom: 25px;
			background: #fff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;}

		span.glyphicon {
			color: #B9E5F0;
			font-size: 20px;
			display: block;
		}

		textarea {
			margin-top: 20px;
			width: 100%;
			height: auto;
			border: 0;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: 1px solid $grayborder;
			padding: 10px;


			&.email_addresses {}
			&.email_template {
				height: 400px;
			}
		}


	}/*#email*/



} /*week_wrapper*/