<div id="header" class="text-right">
	
  <%= link_to raw("<span class='glyphicon glyphicon-cog'></span>"), about_path %>
  
  <%= link_to raw("<span class='glyphicon glyphicon-gift'></span>"), about_path %>

</div><!--/#header-->