<div id="header" class="text-right">
	
	<div class="icon">
  	<%= link_to raw("<span class='glyphicon glyphicon-cog'></span>"), about_path %>
  </div>
	<div class="icon">
  	<%= link_to raw("<span class='glyphicon glyphicon-gift'></span>"), about_path %>
  </div>

  

</div><!--/#header-->