<div id="header" class="text-right">
	
  <%= link_to raw("<span class='glyphicon glyphicon-cog'></span>"), admin_root_path %>
  
  <%= link_to raw("<span class='glyphicon glyphicon-gift'></span>"), happybirthday_path %>

</div><!--/#header-->